.header {
	margin: 0 0 50px 0;
	&__container {
		display: flex;
		max-width: 1440px;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		color: #dc3e22;
		padding: 15px 80px;
		background-color: #ffffff;
	}

	&__wrap {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__statistic {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__title {
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
	}

	&__btn {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		color: #dc3e22;
	}
}
